<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liyz.boot3.generation.mybatis.mapper.DBPreCheckMapper">
    <select id="dbColumnCheck" resultType="String">
        SELECT CONCAT('表结构不一致 tbName:',tb_name,' 期望字段:',exp_columns,' 数据库中字段:',db_columns) as msg
        FROM (
        SELECT
            COUNT(*)= 15 as fg,'ad_position_agency' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,AD_POSITION_AGENCY_CODE,APP_CODE,END_VERSION,AD_AGENCY_NAME,START_VERSION,AD_AGENCY_SHORT_NAME,AD_POSITION_SHORT_NAME,STATUS,DEL_FLAG,IOS_WEIGHT,AD_AGENCY_TYPE,ANDROID_WEIGHT,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'ad_position_agency'
            AND COLUMN_NAME in('ID','AD_POSITION_AGENCY_CODE','APP_CODE','END_VERSION','AD_AGENCY_NAME','START_VERSION','AD_AGENCY_SHORT_NAME','AD_POSITION_SHORT_NAME','STATUS','DEL_FLAG','IOS_WEIGHT','AD_AGENCY_TYPE','ANDROID_WEIGHT','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 13 as fg,'risk_controller_record' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,BIZ_CODE,SCHOOL_CODE,RUN_PLAN_CODE,STUDENT_CODE,SEMESTER_CODE,REASON,INDEX_NAME,INDEX_TYPE,RC_TYPE,DEL_FLAG,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'risk_controller_record'
            AND COLUMN_NAME in('ID','BIZ_CODE','SCHOOL_CODE','RUN_PLAN_CODE','STUDENT_CODE','SEMESTER_CODE','REASON','INDEX_NAME','INDEX_TYPE','RC_TYPE','DEL_FLAG','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
        )a
        WHERE fg=0
    </select>
</mapper>
